.display {
    display: block;
}
.not-display {
    display: none;
}
.output {
    width: 100%;
    height: 30vh;
    padding: 10rem 0rem;
    text-align: center;
    h3 {
        padding: 1rem 0rem;
    }
}